<h1 style="color:blue;">
    {{titulo}}
</h1>

<hr>
<h3>Selector de colores:</h3>
<button (click)="logColorSeleccionado()">Mostrar log</button>
<input type="text"[(ngModel)]='color_seleccionado'/>

<pre [style.border]="color_seleccionado == 'red' ? '5px solid black' : '1px solid green'"
[ngClass]="{
    fondoAzul: color_seleccionado == 'blue',
    fondoVerde: color_seleccionado == 'green',
    fondoRosa: color_seleccionado == 'pink'

}"
>
    <strong>Color elegido:</strong>
    {{color_seleccionado}}
</pre>
<div [ngStyle]="{
    'background':color_seleccionado,
    'width':'200px',
    'height':'200px',
    'float':'right',
    'margin-right':'67%'
    }"></div>
<div style='clear:both'></div>

<hr>
<h3>colores switch</h3>
<ul [ngSwitch]='color'>
    <li *ngSwitchCase="'pink'" [ngStyle]="{'background':color, 'color':'white', 'padding': '20px'}">Es de color Rosa</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color':'white', 'padding': '20px'}">Es de color Verde</li>
    <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color':'white', 'padding': '20px'}">Es de color Azul</li>
</ul>

<hr>

<strong>Empleado Estrella:</strong>
<br>
<br>

<div *ngIf='trabajador_externo == true'>
    <button (click)='cambiarExterno(false)'>Mostrar trabajador</button>
    <ul>
        <!--ngIf= si trabajador externo es true muestra esta lista-->
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li *ngIf='trabajadores[0].contratado == true'>Está contratado</li>
        <li *ngIf='trabajadores[0].contratado == false'>No está contratado</li>
    </ul>
</div>

<div *ngIf='trabajador_externo == false'>
    <button (click)='cambiarExterno(true)'>Mostrar empleado</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf='empleado.contratado == true'>Está contratado</li>
        <li *ngIf='empleado.contratado == false'>No está contratado</li>
    </ul>
</div>

<hr>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor='let empleado of trabajadores; let i = index'>
        <strong>Empleado {{i+1}}:</strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf='empleado.contratado == true'>Está contratado</li>
            <li *ngIf='empleado.contratado == false'>No está contratado</li>
        </ul>
    </li>
</ul>

