
  <h1>
   {{ title }}
  </h1>
  <hr>
  <nav>
    <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">home</a>
    <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">fruta</a>
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">empleado</a>
    <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">contacto</a>
    <a [routerLink]="['/prueba']" [routerLinkActive]="['activado']">prueba</a>
    <a [routerLink]="['/heroes']" [routerLinkActive]="['activado']">heroes</a>
    <a [routerLink]="['/lista']" [routerLinkActive]="['activado']">lista</a>
  </nav>
  <hr>
  <!--<fruta></fruta>-->

<router-outlet></router-outlet>

